<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>G:/PARAMESH/springhibernate/application.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} -
				%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
		<file>G:/PARAMESH/springhibernate/hibernate.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.sample" level="ALL" additivity="false">
		<appender-ref ref="fileAppender" />
	</logger>
	<logger name="org.hibernate" level="ALL" additivity="false">
		<appender-ref ref="hibernate" />
	</logger>

	<root level="ALL">
		<appender-ref ref="fileAppender" />
	</root>
</configuration>